* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'montserrat';
}

.header {
    height: 56px;
    width: 100vw;
    background: #161515;
}

.dashboard {
    display: grid;
    grid-template-columns: 240px calc(100vw - 240px);
}

.nav-links {
    width: 100%;
    min-height: calc(100vh - 56px);
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
        0px 4px 8px rgba(96, 97, 112, 0.16);
    display: flex;
    flex-direction: column;
    padding: 40px 12px 0px 12px;
}

.nav-links > a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #37393e;
    text-decoration: none;
    padding: 8px;
}

main {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

main > * {
    width: 680px;
}

.breadcrum {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #686b70;
}

.big-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #17191d;
    margin-left: 10px;
    margin-bottom: 24px;
}

.all-settings {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.setting-card {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
        0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    padding: 13px 28px;
}

.setting-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #37393e;
    margin-bottom: 16px;
}

.setting-card-options {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.setting-card-options > * {
    display: flex;
    align-items: center;
}

.setting-card-options > .lv-2 {
    margin-left: 25px;
}

.setting-card-options input {
    margin-right: 11px;
    cursor: pointer;
}

.setting-card-options label {
    cursor: pointer;
}

.btn-group {
    margin-top: 23px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.btn-group > * {
    border-radius: 8px;
    padding: 8px 20px;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'montserrat';
    cursor: pointer;
}

#btn-discard {
    border: 1px solid #c4cdd5;
    color: #37393e;
    background: #FFFFFF;
    display: none;
}

#btn-save {
    border: 1px solid #0554F2;
    background: #0554F2;
    color: #FFFFFF;
}
